.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.body{
  margin:0;
  padding:0;
  display: flex;
 font-family: 'Times New Roman', Times, serif;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*{
  margin:0;
  padding:0;
}

nav{
  margin: 0;
  box-shadow: 0px 2px 5px grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Nav-content{
  width:60px;
}
.logo{
  width:100%;
  height: 50%;
}

.info-wrap,a{
margin-right:10px;
color:gray;
text-decoration: none;
}

.info-wrap a:hover{
  color:rgb(86, 86, 86);
  text-decoration: underline;
}


.Home{
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.upperContainer{
  display:flex;
  height:270px;
  justify-content: center;
  align-items: center;
  background-image: url('./Background.jpg');
  background-size:cover;
  background-position: center;
}
.upContent{
  display:flex;
  justify-content: center;
}
.upContent,input{
  width:300px;
  height: 30px;
  padding-left:20px;
}
.upContent,button{
  width:100px;
  height: 35px;
  border-style:none;
  background-color:rgb(228, 107, 107);
  transition: 0.3s;
  color:white;
  margin-left:3px;
  border-radius: 5px;
}

.upContent,button:hover{
  cursor: pointer;
  background-color:rgb(248, 134, 134);
}

.LowerContent{
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x:scroll;
}

.card{
  height: 80%;
}
.card-component{
  width:300px;
  height: 100%;
  margin:10px;
  box-shadow: 0px 0px 5px gray;
  padding:5px;
  cursor: pointer;
}


.card-img{
width:300px;
height: 55%;
}

.PlaceImg{
  width:98%;
  height: 150px;
  margin-bottom:10px;

}

.map-wrapper{
  display:flex;
  align-items:center;
  margin:0;
  justify-content: space-between;
  width:100%;
}

.map-wrapper,a{
  font-size:15px;
}

.place-info{
  margin: 5px;
  width:100%;
  height: 50%;
}

.place-info,span{
  font-size:15px;
  margin: 2px;;
}

.place-info,p{
  font-size: 12px;
}

/* start of about */
.About-content{
  display: flex;
  justify-content: center;
}
.vlogo{
  width:200px;
}
/* end of about */

.travelDetails{
  display: none;
  grid-template-columns: 300px auto 300px;
  column-gap: 40px;
}

#travel-component{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-column: 2;
}

.sideBar{
  grid-column: 1;
  margin-top:30px;
  padding-left:10px;
}

.sideBar h2{
  text-align: left;
  margin-left:15px;
}

.Booking{
  background-color: azure;
  margin-top:10px;
  box-shadow: 2px 2px 5px gray;
  padding:20px;
  border-radius:10px;
}

.Booking:hover{
  cursor: pointer;
  background-color: orange;
}

.Booking h4{
  margin:0px 0px;
}


.s-d-container{
  display: flex;
  padding: 15px 50px;
  justify-content: space-between;
  align-items: center;
  width:50%;
  gap:10px;
  text-align: center;
}

.source-div,.destination-div{
  display: flex;
  justify-content: center;
  margin: 0;
}
#source-place{
  color:orange;
}
#destination-place{
  color:green;
}

.To{
  display: flex;
  width: 100px;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: gray;
}

.content-container{
  display: flex;
  gap:20px;
  width:700px;
}

.Map-route{
  display: flex;
  border-radius: 10px;
  padding:10px;
  margin: auto;
}

.map-img{
  width:100%;
  border-radius: 20px;
}
.weather-report-content h4{
  margin:10px 0px;
}


